<div class="introduction-wrapper">
  <div class="introduction-title">Пони-Вирус в Эквестрии!</div>
  <div class="introduction-subtitle">Эквестрия оказалась под угрозой из-за загадочного вируса, который превращает обычных пони в нечто ужасное....
    <br>
    Вирус был назван "пони-вирус" и представлял собой нечто большее, чем просто болезнь. Он был создан злым волшебником, который хотел уничтожить всех пони в Эквестрии. Первые признаки вируса были замечены в городе Понивилль.
    Жители города начали замечать, что их пони становятся все более и более агрессивными.
    Один из наших героев отправляется на поиски источника вируса, чтобы спасти своих друзей и всю страну.</div>
  <div  (click)="next()" class="introduction-button__continue">Продолжить...</div>
</div>

